<table>
	<tr>
		<td>Autor: </td>
		<td>Raul Hernandez Alonso</td>
	</tr>
	<tr>
		<td>Video: </td>
		<td><i>proximamente</i></td>
	</tr>
	<tr>
		<td>Foto: </td>
		<td><img src="images/foto.jpg" alt="Raul Hernandez Alonso" width="75" height="75" align="left"></td>
	</tr>
</table>