<table>
<tr>
	<td><label for="preg" class="rem">Pregunta:</label></td>
	<td><input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" /><p></td>
</tr>
<tr>
	<td><label for="resp" class="rem">Respuesta:</label></td>
	<td><input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" /><p></td>
</tr>
<tr>
	<td><label for="tema">Tematico:</label></td>
	<td>
	<select name="quiz[tematico]" id="tema">
		<option value="otro" <% if(quiz.tematico === "otro") { %>selected<% } %>>Otro</option>
		<option value="humanidades" <% if(quiz.tematico === "humanidades") { %>selected<% } %>>Humanidades</option>
		<option value="ocio" <% if(quiz.tematico === "ocio") { %>selected<% } %>>Ocio</option>
		<option value="ciencia" <% if(quiz.tematico === "ciencia") { %>selected<% } %>>Ciencia</option>
		<option value="tecnologia" <% if(quiz.tematico === "tecnologia") { %>selected<% } %>>Tecnología</option>
	</select>
	</td>
</tr>
<tr>
	<td><a href="/quizes"><button type="button">Cancelar</button></a></td>
	<td><input type="submit" value="Salvar"></td>
</tr>
</table>