<table>
<caption>Estadisticas<hr></caption>
<tr>
	<td>Numero de preguntas totales: </td>
	<td><%= datos.preguntas %></td>
<tr>
	<td>Numero de comentarios totales: </td>
	<td><%= datos.comentarios %></td>
</tr>
</table>